@page "/Testing"
@using Microsoft.AspNetCore.Mvc.RazorPages.Infrastructure
@using _51stBlazor.Discord
@using DSharpPlus.Entities
@namespace _51stBlazor.Pages
@inject DiscordService DiscordService

<_NavBar />

<div class="row">
    @foreach (var guild in DiscordService.GetGuilds())
    {
        <p>@guild.Value.Name</p>
        <!-- Note the change here -->
    }

    <p>Is Ready: @DiscordService.IsReady</p>


    <p>Bot Username: @DiscordService.GetBotUsername()</p>
    <div class="col-6">
        <h3>All Members:</h3>
        <ul>
            @if (members != null)
            {
                foreach (var member in members)
                {
                    <li>@member.DisplayName</li>

                }
            }
            else
            {
                <li>Loading...</li>
            }
        </ul>
    </div>
    <div class="col-6">
        <h3>Members with 389th FS role:</h3>
        <ul>
            @if (membersWithRole != null)
            {
                foreach (var member in membersWithRole)
                {
                    <li>@member.DisplayName</li>
                    <li><img src="@member.AvatarUrl" width="100px"/></li>
                }
            }
            else
            {
                <li>Loading...</li>
            }
        </ul>
    </div>

    <div class="row">
        <h2>Pilot Card Generation</h2>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            @if (pilots != null)
            {
                foreach (var pilot in pilots)
                {
                    <_PilotCard Name="@pilot.Name" Aircraft="@pilot.Aircraft" AvatarUrl="@pilot.AvatarUrl"/>
                }
            }
            else
            {
                <li>Loading...</li>
            }


        </div>
    </div>

</div>

<_Footer/>

@code {
    private IEnumerable<DiscordMember> members;
    private IEnumerable<DiscordMember> membersWithRole;
    private List<Pilot> pilots = new List<Pilot>();


    protected override async Task OnInitializedAsync()
    {
        members = await DiscordService.GetGuildMembers(968137652245241876);

        string roleName = "389th FS";
        membersWithRole = members.Where(m => m.Roles.Any(r => r.Name == roleName));
        GeneratePilots(membersWithRole);
    }

    protected List<Pilot> GeneratePilots(IEnumerable<DiscordMember> members)
    {
        foreach (var member in members)
        {
            var p = new Pilot { Name = member.DisplayName, Aircraft = "N/A", AvatarUrl = member.AvatarUrl };
            pilots.Add(p);
        }

        return pilots;
    }
}
